{% extends 'base.html' %}

{% block title %}
File
{% endblock %}


{% block content %}
<h1 style="color:darkpink;font-family:times new roman;margin:35px;"><center>Login Page</center></h1>
<div class="container" style="width:70%;">
<form method="post">
  {% csrf_token %}
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Email address</label>
    <input type="email" name="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Password</label>
    <input type="password" name="pswd" class="form-control" id="exampleInputPassword1">
  </div>
  <div class="mb-3 form-check">
    <input type="checkbox" class="form-check-input" id="exampleCheck1">
    <label class="form-check-label" for="exampleCheck1">Check me out</label>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button><br>
  <a href="{% url 'sign' %}" style="text-decoration:none;color:darkviolet;">Create a account</a>
</form>
</div>
{% endblock %}